[submodule "source/engine/libjapan"]
	path = source/engine/libjapan
	url = https://github.com/baAlex/libjapan
[submodule "source/engine/libkansai"]
	path = source/engine/libkansai
	url = https://github.com/baAlex/libkansai
