
# All platforms
/assets/

# Posix
/nara-posix
/nara-ubuntu

# Windows
/nara-windows.exe
/SDL2.dll

# Developers, developers, developers
/plot-*.png

/*.sgi
/.ninja_log
/.ninja_deps

/build/
/build-debug/
/build-release/
/objects/
/dev/
/.vscode/
